<div class="container">
  <!-- <div class="row">
    <div class="col-md-12">
      <h1 rtl class="main-heading">{{ 'anms.title.receipt' | translate }}</h1>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-12">
      <mat-form-field>
        <input
          #inputSearchTerm
          (input)="searchTerm = $event.target.value"
          matInput
          placeholder="Suchbegriff"
        >
      </mat-form-field>

      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip
            *ngFor="let tagSelected of tagsSelected"
            [selectable]="selectable"
            [removable]="true"
            (removed)="remove(tagSelected)"
          >
            {{ tagSelected }}
          <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            #inputTagsInclude
            placeholder="Enthält Zutaten..."
            [formControl]="inputTagIncludeControl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag">
            {{ tag }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>    
  </div>

  <div *ngIf="receiptCategories$ | async as receiptCategories; else loading" class="row">
    <div
      *ngFor="let receiptCategory of receiptCategories; let i = index"
      class="col-md-12"
      [ngClass]="routeAnimationsElements"
  >
    <!-- [expanded]="i === panelIndexCurrent$ | async" -->
      <mat-accordion [multi]="false">
        <mat-expansion-panel
          [attr.data-index]="i"
          [style.background-color]="receiptCategoryColors[i]"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="panel-title">
                <div>{{ receiptCategory.name }}</div>
                <div>{{ (getReceiptsOfReceiptCategory(receiptCategory.name) | async).length + ' Rezepte' }}</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <swiper>
            <mat-card
              *ngFor="let receipt of getReceiptsOfReceiptCategory(receiptCategory.name) | async"
              (click)="onContentItemClick(receipt.uuid)"
            >
              <mat-card-title rtl>
                {{ receipt.fields.name }}
              </mat-card-title>
              <mat-card-subtitle rtl>
                {{ receipt.fields.text_teaser }}
              </mat-card-subtitle>
              <img mat-card-image [src]="getNodeFieldBinary( receipt.uuid, 'thumbnail' )">
            </mat-card>
          </swiper>

        </mat-expansion-panel>
      </mat-accordion>

      <br>
    </div>
  </div>

  <ng-template #loading>
    Loading...
  </ng-template>
</div>
