@import './styles-variables';

.container {
  margin-top: 20px;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

mat-card {
  margin: 0 0 20px 0;
  cursor: pointer;

  mat-card-title {
    position: relative;
    line-height: 2rem;
    color: green;

    code {
      position: absolute;
      top: 11px;
      right: 0;
      float: right;
      font-size: 10px;
    }
  }
  mat-card-subtitle {
    min-height: 60px;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    mat-card-subtitle {
      min-height: auto;
    }
  }

  a {
    fa-icon {
      position: relative;
      bottom: 2px;
      font-size: 16px;
      margin: 6px;
    }
  }

  a[mat-icon-button] {
    position: relative;
    left: 5px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

@media (hover: none) {
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled='true'])
    .mat-expansion-panel-header:hover {
    background-color: inherit !important;
  }
}

mat-expansion-panel-header {
  font-size: 1.2rem;
}

.mat-expansion-panel,
.mat-expansion-panel-header-title,
.mat-button-wrapper,
.mat-expansion-indicator:after {
  color: white !important;
}

.panel-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

mat-form-field {
  width: 100%;
}

.example-chip-list {
  width: 100%;
}
