@import './styles-variables';
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
$font-logo: 'Kaushan Script', cursive;

html,
body {
  overflow: hidden;
  height: 100%;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.brand-title {
  font-family: $font-logo;
}

mat-card {
  margin: 0 0 20px 0;
  cursor: pointer;

  mat-card-title {
    position: relative;
    line-height: 2rem;
    color: green;

    code {
      position: absolute;
      top: 11px;
      right: 0;
      float: right;
      font-size: 10px;
    }
  }
  mat-card-subtitle {
    min-height: 60px;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    mat-card-subtitle {
      min-height: auto;
    }
  }

  a {
    fa-icon {
      position: relative;
      bottom: 2px;
      font-size: 16px;
      margin: 6px;
    }
  }

  a[mat-icon-button] {
    position: relative;
    left: 5px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

@media (hover: none) {
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled='true'])
    .mat-expansion-panel-header:hover {
    background-color: inherit !important;
  }
}

mat-expansion-panel-header {
  font-size: 1.2rem;
}

.mat-expansion-panel,
.mat-expansion-panel-header-title,
.mat-button-wrapper,
.mat-expansion-indicator:after {
  color: white !important;
}

.panel-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

mat-form-field {
  width: 100%;
}
[class*='-theme'] .mat-form-field-appearance-legacy {
  .mat-form-field-label {
    color: white !important;
    text-shadow: 0 0 3px #1d1d1d80 !important;
  }
  .mat-form-field-underline {
    background-color: white !important;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
  }
}

.example-chip-list {
  width: 100%;
}

mat-sidenav-container .toolbar .branding.center {
  margin-left: -20px;
}

.nature-theme .mat-toolbar.mat-primary {
  $color-green: #43a047ed;
  $color: white;

  // color: $color;
  background: transparent !important;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

  span,
  fa-icon {
    color: $color;
    transition: color 0.2s ease-in-out;
  }

  &.user-has-scrolled {
    background: $color-green !important;
    // color: inherit;

    span,
    fa-icon {
      color: white;
    }
  }
}
